HOST=0.0.0.0
PORT=1337

APP_KEYS=replace_with_key_1,replace_with_key_2,replace_with_key_3,replace_with_key_4
API_TOKEN_SALT=replace_with_api_token_salt
ADMIN_JWT_SECRET=replace_with_admin_jwt_secret
TRANSFER_TOKEN_SALT=replace_with_transfer_token_salt
JWT_SECRET=replace_with_jwt_secret

DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
